@-webkit-keyframes breathe { 
    0% { opacity: 0; }
    25% { opacity: 0.5; }
    50% { opacity: 1; }
    75% { opacity: 0.5; }
    100% { opacity: 0; }
  }
  
  @keyframes breathe {
    0% { opacity: 0; }
    25% { opacity: 0.5; }
    50% { opacity: 1; }
    75% { opacity: 0.5; }
    100% { opacity: 0; }
  }
/*     0% { opacity: 0.7; }
    25% { opacity: 0.8; }
    50% { opacity: 1; }
    75% { opacity: 0.8; }
    100% { opacity: 0.7; } */
video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    /* Mirror the local sourceVideo */
    transform: scale(-1, 1);            /*For Firefox (& IE) */
    -webkit-transform: scale(-1, 1);     /*for Chrome & Opera (& Safari) */
    /* height: 480px;
    width: 640px; */
}
canvas, img{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
    animation: breathe 1s ease-out infinite normalnite;
}
canvas {
    display: none;
    z-index: 0;
}
img {
    z-index: -1;
  }

#whiteOut {
    animation: breathe 5s ease-out infinite normalnite;
}