<!doctype html>
<html lang="em">
<head>
    <meta charset="UTF-8">
    <title>Pose Off!</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <!-- Load TensorFlow.js -->
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.2"></script>
    <!-- Load BodyPix -->
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/body-pix@2.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- production version, optimized for size and speed -->
<!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->

</head>

<body>


<div id="overlay" class="screen" v-bind:style="{ 'background-color':'rgba(255,255,255,'+overlayOpacity+')'}">
    <div id="border" v-if="shows['border']">
        <div id="border-left"></div>
        <div id="border-right"></div>
        <div id="border-top"></div>
        <div id="border-bottom"></div>
    </div>
    <div id="welcome" class="screen" v-if="shows['welcome']">
        <h1>Welcome!</h1>
        <button id ="openJoin" v-on:click="openMenu('join')">join room</button>
        <button id ="createRoom" v-on:click="openMenu('create')">new room</button>
    </div>
    <div id="homeMenu" class="screen" v-if="shows['menu']">
        <form @submit="joinRoom" v-if="shows['roomInput']" onsubmit="return false">
            <input class="roomInput" v-model="roomName" placeholder="Room Name:" id="roomInput" type="text" maxlength="20"/>
            <input type="submit" value="Go"></input>
        </form>
    </div>

    <div id="lobby" class="screen" v-if="shows['lobby']">
        <div class="screen" v-if="shows['usernameInput']">
            <form @submit="addMe">
                <input class="roomInput" v-model="username" placeholder="What's your name?" id="roomInput" type="text" maxlength="14"/>
                <input type="submit" value="Go"></input>
            </form>
        </div>
        <div id="gameSetup" class="leftBar">

        </div>
        <div class="screen">
        <!-- <button v-on:click="startGame">Start Game</button> -->
        <button v-on:click="DEVFsendPose">Start Posing</button>
        <button v-on:click="DEVFstartMatch">Start Match</button>
        <button id ="colorButt" v-on:click="changeColor">new color</button>
        <h1 id="message" v-if="shows['message']">
            {{message}}
        </h1>
        <ul>
            <li v-for="item in usernames" :key="item">
              {{ item }}
            </li>
          </ul>
        <p id="fps"></p>
        <div id="timer">
            <div id="timerbar"></div>
        </div>
    </div>
    </div>

    <div id="gameGUI" class="screen" v-if="shows['gameGUI']">
        <h1 id="message" v-if="shows['message']">
            {{message}}
        </h1>
        <!-- <div id="timer">
            <div id="timerbar"></div>
        </div> -->
    </div>

</div>


<div id="main">
    <img id="streamImg" style="display:none">
    <canvas id = "streamCanvas"></canvas>
    <canvas id = "diffCanvas"></canvas>
    <canvas id = "offscreenCanvas"></canvas>
    <canvas id = "miniCanvas"></canvas>
    <div id="drawDiv" class="screen" v-bind:style="{opacity:opacities['drawCanvas']}">   
        <canvas id = "drawCanvas"></canvas>
    </div>
    <canvas id = "gridCanvas"></canvas>
    <video id="webcamVideo" autoplay playsinline style="display:none"></video>
<video id="drawVideo" style="display:block" style="display:none"></video>
<video id="streamVideo" style="display:block" style="display:none; opacity:0.2;"></video>




</div>
<div id="dashboard">
    <p><span id="userMessage">Webcam loading.</span></p>
    <div id="statsDiv" hidden>
        <p>FPS: <span id="fps"></span></p>
    </div>
    <div id="controls">

        <!-- <p>Trade off speed for accuracy:</p>
        <button id="highSpeed" disabled>Faster</button>
        <button id="normalSpeed" disabled>Normal</button>
        <button id="lowerSpeed" disabled>More accurate</button>
        <button id="lowSpeed" disabled>Most accurate</button> -->

    </div>
</div>
<!-- 
<li class="login page">
    <div class="form">
      <h3 class="title">join a room:</h3>
      <input class="roomInput" type="text" maxlength="14" />
    </div>
</li> -->


<!-- include socket and jquery -->
<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<!-- <script src="https://bundle.run/pixelmatch@5.0.1"></script> -->
<script src="/js/ui-helper.js"></script>
<script src="/js/scan.js"></script>
<script src="/js/game.js"></script>

<!-- socket stuff -->
<script>
    if (location.hash) {
        socket.emit('room-hash', location.hash);
        //document.getElementById("room-display").innerHTML = "Current Room: "+location.hash;
    };
    socket.on('record', (ms) => {
        //recording for 3000 ms.
        userMessage.innerText = "Matching...";
        recording = true;
        setTimeout(function(){checkScore(ms);}, ms);

    });

$(function () {
    socket.on('seg-stream', (url) => {
        $('#streamImg').attr('src',url);
    });

    streamImg.onload = function() {
    project(streamImg, streamCanvas);
}
// compare the two images
//     function foo() {
//     socket.emit('run-match', drawCanvas.toDataURL('image/webp'));
//     // console.log("lmfao");
//     setTimeout(foo, 100);
//     }

//     foo();
});
document.getElementById("overlay").style.opacity = 1;

if (!location.hash) {
    setTimeout(function() { 
        v.shows['welcome'] = true;
    },100);
};

</script>



<!-- <script src="/js/output.js"></script> -->

</body>
</html>
